<?php
/**
 * WebDavLoginApi
 * PHP version 5
 *
 * @category Class
 * @package  Inwendo\WebDav\Common
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Inwendo WebDav Service
 *
 * No descripton provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 0.0.1
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Inwendo\WebDav\Common\Api;

use \Inwendo\WebDav\Common\Configuration;
use \Inwendo\WebDav\Common\ApiClient;
use \Inwendo\WebDav\Common\ApiException;
use \Inwendo\WebDav\Common\ObjectSerializer;

/**
 * WebDavLoginApi Class Doc Comment
 *
 * @category Class
 * @package  Inwendo\WebDav\Common
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class WebDavLoginApi
{

    /**
     * API Client
     *
     * @var \Inwendo\WebDav\Common\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Inwendo\WebDav\Common\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Inwendo\WebDav\Common\ApiClient $apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://webdavgateway.service.inwendo.cloud');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Inwendo\WebDav\Common\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Inwendo\WebDav\Common\ApiClient $apiClient set the API client
     *
     * @return WebDavLoginApi
     */
    public function setApiClient(\Inwendo\WebDav\Common\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation getWebDavLoginCollection
     *
     * Retrieves the collection of WebDavLogin resources.
     *
     * @return \Inwendo\WebDav\Common\Model\WebDavLogin[]
     * @throws \Inwendo\WebDav\Common\ApiException on non-2xx response
     */
    public function getWebDavLoginCollection()
    {
        list($response) = $this->getWebDavLoginCollectionWithHttpInfo();
        return $response;
    }

    /**
     * Operation getWebDavLoginCollectionWithHttpInfo
     *
     * Retrieves the collection of WebDavLogin resources.
     *
     * @return Array of \Inwendo\WebDav\Common\Model\WebDavLogin[], HTTP status code, HTTP response headers (array of strings)
     * @throws \Inwendo\WebDav\Common\ApiException on non-2xx response
     */
    public function getWebDavLoginCollectionWithHttpInfo()
    {
        // parse inputs
        $resourcePath = "/web_dav_logins";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/ld+json', 'application/json', 'text/html'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Inwendo\WebDav\Common\Model\WebDavLogin[]',
                '/web_dav_logins'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Inwendo\WebDav\Common\Model\WebDavLogin[]', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Inwendo\WebDav\Common\Model\WebDavLogin[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getWebDavLoginItem
     *
     * Retrieves a WebDavLogin resource.
     *
     * @param int $id  (required)
     * @return \Inwendo\WebDav\Common\Model\WebDavLogin
     * @throws \Inwendo\WebDav\Common\ApiException on non-2xx response
     */
    public function getWebDavLoginItem($id)
    {
        list($response) = $this->getWebDavLoginItemWithHttpInfo($id);
        return $response;
    }

    /**
     * Operation getWebDavLoginItemWithHttpInfo
     *
     * Retrieves a WebDavLogin resource.
     *
     * @param int $id  (required)
     * @return Array of \Inwendo\WebDav\Common\Model\WebDavLogin, HTTP status code, HTTP response headers (array of strings)
     * @throws \Inwendo\WebDav\Common\ApiException on non-2xx response
     */
    public function getWebDavLoginItemWithHttpInfo($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling getWebDavLoginItem');
        }
        // parse inputs
        $resourcePath = "/web_dav_logins/{id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/ld+json', 'application/json', 'text/html'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Inwendo\WebDav\Common\Model\WebDavLogin',
                '/web_dav_logins/{id}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Inwendo\WebDav\Common\Model\WebDavLogin', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Inwendo\WebDav\Common\Model\WebDavLogin', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation putWebDavLoginItem
     *
     * Creates a WebDavLogin resource.
     *
     * @param \Inwendo\WebDav\Common\Model\WebDavLogin $web_dav_login The new WebDavLogin resource (optional)
     * @return \Inwendo\WebDav\Common\Model\WebDavLogin
     * @throws \Inwendo\WebDav\Common\ApiException on non-2xx response
     */
    public function putWebDavLoginItem($web_dav_login = null)
    {
        list($response) = $this->putWebDavLoginItemWithHttpInfo($web_dav_login);
        return $response;
    }

    /**
     * Operation putWebDavLoginItemWithHttpInfo
     *
     * Creates a WebDavLogin resource.
     *
     * @param \Inwendo\WebDav\Common\Model\WebDavLogin $web_dav_login The new WebDavLogin resource (optional)
     * @return Array of \Inwendo\WebDav\Common\Model\WebDavLogin, HTTP status code, HTTP response headers (array of strings)
     * @throws \Inwendo\WebDav\Common\ApiException on non-2xx response
     */
    public function putWebDavLoginItemWithHttpInfo($web_dav_login = null)
    {
        // parse inputs
        $resourcePath = "/web_dav_logins";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/ld+json', 'application/json', 'text/html'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/ld+json','application/json','text/html'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($web_dav_login)) {
            $_tempBody = $web_dav_login;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Inwendo\WebDav\Common\Model\WebDavLogin',
                '/web_dav_logins'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Inwendo\WebDav\Common\Model\WebDavLogin', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Inwendo\WebDav\Common\Model\WebDavLogin', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

}
